<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382935510257-mk0t2lhp8ibpgppshuigt9lskk04hfrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382935510257-mk0t2lhp8ibpgppshuigt9lskk04hfrm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382935510257-sat3o6uu57ca7fb9h5evguu81251ofb1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-2volhw6_vkgTmgCFYmDAb2K_GcfndoY</string>
	<key>GCM_SENDER_ID</key>
	<string>382935510257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApplication1</string>
	<key>PROJECT_ID</key>
	<string>todo-dd433</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-dd433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382935510257:ios:6b87c182e04ad4e2e94d50</string>
</dict>
</plist>